<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Diva Predictor</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #AC92EC;">
  <a id="nav" class="navbar-brand" href="/">
    <h4 style="font-family: Century Gothic;">

      <i class="fas fa-kiss-wink-heart" style="color:whitesmoke; background-color:#555555; border-radius: 100px; padding:1px;"></i>
      Diva Predictor</h4>
  </a>
</nav>


<!-- Jumbotron -->
<div class="jumbotron" style="margin:0px;">
  <h1 class="display-4">Diva Predictor</h1>
  <p class="lead">
      Your response to his text will determine whether you texted him back like a true diva or if its like that he won't text you back!
  </p>
  <hr class="my-4">
  <div class="card" style="width: 100%; background-color: lavender; margin: auto; padding: auto;">
    <div class="card-body">
      Don't spend time over-analyzing his text. Just pick from the common scenarios listed below or choose your own.<br/>
      Then, type your response and hit the predict button. Sit back and let the app analyze for you. :)
    </div>
  </div>
  <p>

  </p>

<h1 class="display-4" style="font-size: 2em;">Pick a Scenario</h1>


  <p>
    <div style="width: 90%; margin: auto; padding:auto;">
      <button class="btn btn-default btn-light"
              type="button" data-toggle="collapse"
              data-target="#collapseExample1"
              aria-expanded="false"
              aria-controls="collapseExample1"
              >
        Scenario 1
      </button>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <img src="https://jskwnw.bl.files.1drv.com/y4mxgiYG1n18teSUgNDUeL9LmpP-nIc5wg7_g_q1QjQPIWnEKiAKmO9zWvIwfpc-Ks2I1dzSctU750SP4RjhXOlL-kRFFrPVcWl9OD0P8dbW0kc9z6iCC0Rd3O9cZLmp6YRCU5PIf6llzK449mdpqFz5WdnOgX4Zmm6XqJ6PbaDgQIuVcYddFGE_Xs-qhfPkFXxseak2bcBAE4zYeFefSBNkg?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample2"
              aria-expanded="false"
              aria-controls="collapseExample2">
        Scenario 2
      </button>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <img src="https://jckwnw.bl.files.1drv.com/y4mwHnn7BZgUjUgT-rIdAlYa55MkyBC9XCjDMGwxVt25mCbT4Ww_Lo7j-FFr4p9J9QB92qibvLYyeKFw-h1iuFzOEjVVPzejM3WUVTN2LoV8k_Rb6p6MyCdlP9jqTfYZjfX7lF6qerV3vGWP9xtodpy9SK9EKFwmUsa60fqZL4DBCFVKWDKd3LxucmJflCr_496IsSabGXurof-JZETGhk2CA?width=1280&height=720&cropmode=none"
          width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample3"
              aria-expanded="false"
              aria-controls="collapseExample3">
        Scenario 3
      </button>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
            <img src="https://jiivkw.bl.files.1drv.com/y4mfh8-pRqlv7_3v97lWJ4-qtcseOKBrTIqOGLpOGLqqVEs-wYjKZ8hZxGLkBXRo_XNRrEsqULYc5b30mcHUrQMxXss8_TEW1IF2FpyT-r6Mz6-9KLD-u60GtLttQo-n0ybKkcwb8oAF8yjqJBBm7vomRFZVI6cDHCyNExnF_vIpmZ6Aq0xBjn-1nEEse_oQajgiZdsw6MwAt_XU5zEST4KXA?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample4"
              aria-expanded="false"
              aria-controls="collapseExample4">
        Scenario 4
      </button>
      <div class="collapse" id="collapseExample4">
        <div class="card card-body">
            <img src="https://kcivkw.bl.files.1drv.com/y4mnl5ar1q_--X-f7yjLP1D0Jf9guznYDMN7RnQ70RvjPFVBG3zaySGTNjHf-G-ypsDj9IQRx98SC7-_8AtdWeTfSpXc_qLVKrDseHSPG5KUNtql7N3BnTJXS_Y8GSSa2ric-Y9wCT3q-fFUVQz301LjOrt7fGSmtsKTKgCYlgy_qLcIskNRiMhXm4ATkP5IbY74HlX2uvMQHqyvMkPA-ZIvA?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample5"
              aria-expanded="false"
              aria-controls="collapseExample5">
        Scenario 5
      </button>
      <div class="collapse" id="collapseExample5">
        <div class="card card-body">
            <img src="https://iykwnw.bl.files.1drv.com/y4mT9g7Nw_qGWQmf0gG1ejA95KO49DffmSXjnvSz58OaTkkBi5_VfCCBTs9UmfLepxEn1ebVusIS-qgnrKVKzbGYgjxgW3aUZnAHMzuxbwVGjhLdPcy0BOKtkyRiv3vgfKFLjYm7cxuPxaPI93zMLJ_jXUysN0G1L8UF3CF0brK7PevAuuzo27dxYBElXjRWhw5xoZO8DgXEJ6_L_OAb3BbGA?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample6"
              aria-expanded="false"
              aria-controls="collapseExample6">
        Scenario 6
      </button>
      <div class="collapse" id="collapseExample6">
        <div class="card card-body">
            <img src="https://kiivkw.bl.files.1drv.com/y4msQGf-b3PSHKwMaDsywVEBglI08U6fIkMCtvXKEkH8mRteBDNZG3GITQN_GwVFt2AJfzXj7fuJ2kKzNTml9-ZPaGa-HwZUcNuI-sxLMv1_GXzJl6xGScQy2DpX9cIFSmpWoxbHq_12auFCCH5__0iaIjHPmDPZEzYhNrxImcwF8TLCrtsriB756gy7reRdpPzlgtLPO3gU0Y-uuTwwICqBA?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample7"
              aria-expanded="false"
              aria-controls="collapseExample7">
        Scenario 7
      </button>
      <div class="collapse" id="collapseExample7">
        <div class="card card-body">
            <img src="https://ksivkw.bl.files.1drv.com/y4mjrMn5vqMdmY5ylCr46wilflVfohN3BJ87GJ49p5yQG_UTfIwVerLqU3a5CLrYYBj5NM1GSU59xM5N9jgj3MSeFLm_dYV8XZ8FRbtNFDGLVpd1tPrNlVuJ5R50sZMbDC5xxC3z9LPNEPy8YYTH7HdS1S0mfnK7VoKLec97Ry9IcGXFoGw5GaItgFMg3qSmIXu4IUEZuBVMGYe8D8UNOS4zQ?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample8"
              aria-expanded="false"
              aria-controls="collapseExample8">
        Scenario 8
      </button>
      <div class="collapse" id="collapseExample8">
        <div class="card card-body">
            <img src="https://kyivkw.bl.files.1drv.com/y4mbM025gGgbY3Y8F4MBGVCtZFyJAfGjBGVseZpc-hn_f2eOIRbokr4ku2UFJDdLghHBVSFLTuL6x8IffftftdU_I8lFafR6d7vvLTauodF3Lt7kAUvoOv5DXjqqVtZhApwY3FAbuVes5FZsBu-2m5nDehyR1HoXwd4xkZ20hhgGkIWRjjXYbpj6cL0AZr_7nioi7Sn8fm8iHE1iCxl8ABmTg?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample9"
              aria-expanded="false"
              aria-controls="collapseExample9">
        Scenario 9
      </button>
      <div class="collapse" id="collapseExample9">
        <div class="card card-body">
            <img src="https://jyivkw.bl.files.1drv.com/y4mSKBgQyWOgEgqPmreSTNj3Ev4tbRDqoTyawmAJXkF-Kla_uCk1dBWf7cbFExWN-oXx7dVQiJTlOlsRWZaECyXxVzvSC_QzFsMXf-E01cGGY3IJWcY8DE3yjrRhvY81s_V78H-vhukgxiqlg7w0K4nAtXBbWx94afn1vuCl9P_S0LeX9Yr7BG8hMwwWC2RK3dRFvYqPnqIrEXDG2Bz8Dj8iw?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
      <button class="btn btn-default btn-light  "
              type="button" data-toggle="collapse"
              data-target="#collapseExample10"
              aria-expanded="false"
              aria-controls="collapseExample10">
        Scenario 10
      </button>
      <div class="collapse" id="collapseExample10">
        <div class="card card-body">
            <img src="https://iikwnw.bl.files.1drv.com/y4mSEyIJbTu97mT_xR-csCCCX5qWmEjv6Ck8THD6PCKavlukADb5yJhZ9jRwScjc2wDn4MpjyDevatK3Va7m0cIWBIotKiCddVNqBRYBVEexna3dH0xqDrq-FPfNkGUWRPvfqfpHTvg56D65b19QCQK32VO2D2crxgjEVayQoO2RUrxBkBKVFioF5UGgiI5pPIIR17xtLnA0qDmElajm7mb4w?width=1280&height=720&cropmode=none"
            width="100%" height="100%" />
        </div>
      </div>
    </div>
  </p>

    <form method="POST">
      <div class="form-group">
        <label> Him : </label>
          <input class="form-control form-control-lg" type="text" name="input1" placeholder="Type his text">
      </div>
      <div class="form-group">
        <label> Her : </label>
          <input class="form-control form-control-lg" type="text" name="input2" placeholder="Type your response here...">
      </div>
      <input type="submit" value="Predict" class="btn btn-default btn-outline-secondary" style="background-color:#b8b7cb; border-color:#b8b7cb" href="/" role="button"/>
    </form>
</div>

<!-- Footer -->
<footer style="height:160px; background-color:#b8b7cb; margin:0px; padding: 30px; outline:grey 1px solid; font-family: Century Gothic; font-size: 0.75em; text-align: center;">
  <p class="container">
      This app is for entertainment purposes only. <br/>Created by Yusra Syed.
  </p>
</footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
