<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Diva Predictor</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-light" style="background-color: #AC92EC;">
    <a id="nav" class="navbar-brand" href="/">
      <h4 style="font-family: Century Gothic;">

        <!-- <i class="fas fa-kiss-wink-heart"
          style="color:whitesmoke; background-color:#555555;
          border-radius: 100px; padding:1px;">
        </i> -->
        <i class="fas fa-hand-point-left"
          style="color:whitesmoke; background-color:#555555;
          border-radius: 100px; padding:1px;">
        </i>
        Go Back and Try Again</h4>
    </a>
  </nav>



  <div class="jumbotron" style="margin:0px;">
    <h1 class="display-4"><%= JSON.stringify(output) %></h1>
    <p class="lead">
      <h3> He said: <%= JSON.stringify(data.text) %></h3>
      <h3> You replied: <%= JSON.stringify(data.response) %></h3>
      </p>
    <hr class="my-4">
    <p>Did you like the results?</p>
    <!-- <p class="lead"> -->
    </p>
  </div>

  <!-- Footer -->
  <footer style="height:160px; background-color:#b8b7cb; margin:0px; padding: 30px; outline:grey 1px solid; font-family: Century Gothic; font-size: 0.75em; text-align: center;">
    <p class="container">
        This app is for entertainment purposes only. <br/>Created by Yusra Syed.
    </p>
  </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  </html>
</body>
</html>
